@charset "utf-8";

/* 共通部品 */
html{
    font-family: Noto Sans JP,sans-serif;
    color: #333333;
    line-height: 1.5;
    letter-spacing: 0.08em;
}

.u-wrapper{
    max-width: 1080px;
    padding: 0 100PX;
    margin: 0 auto;

    @media screen and (max-width: 768px){
        padding: 0 20px;
    }
        
    }


/* 個別部品 */
/*-- header --*/
.header{
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #188888;
    width: 100%;
    padding: 38px 0;

    @media screen and (max-width:768px) {
        padding: 16px;
    }
}

.header-inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
    @media screen and (max-width:768px) {
        flex-direction: column;
    }
}

.header-title{
    font-size: 24px;
    font-weight: bold;

    @media screen and (max-width:768px) {
        margin-bottom: 10px;
    }
}

.header-navTitle{
    display: flex;
    gap: 20px;
    margin: 0 auto;
    padding: 0 auto;
}

.header-navList {
    color: #fff;
    text-decoration: none;
}

.header-navList:hover{
    text-decoration: underline;
}


/*-- firstView --*/
.firstView{
    width: 100%;
    height: 500px;
    background-image: url(/image/FV.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:768px) {
        height: 540px;
    }
}

.firstView-title{
    font-size: 40px;
    font-weight: bold;
    background-color: #fff;
    padding: 8px 32px;

     @media screen and (max-width:768px) {
        font-size: 32px;
    }
}


/*-- course --*/
.course-container{
    padding: 80px 0;

    @media screen and (max-width:768px) {
        padding: 64px 0;
    }
}

.course-top{
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.course-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 4px;
}

.course-subtitle{
    font-size: 18px;
    margin-bottom: 64px;
}

.course-items{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;

    @media screen and (max-width:768px) {
        flex-direction: column;
    }
}

.course-list{
    background-color: #fff;
    box-shadow: 0 4px 30px rgba(51, 51, 51, 0.25);
}

.course-listimg{
    max-width: 100%;
}

.course-itemTitle{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.course-cardBox{
   padding: 24px;
}


/*-- news --*/
.news-container{
padding: 80px 0;
background-color: #f1f8f8;

@media screen and (max-width:768px) {
      padding: 64px 0;
    }
}

.news-top{
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.news-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 4px;
}

.news-subtitle{
    font-size: 18px;
    margin-bottom: 64px;
}

.news-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 64px;

    @media screen and (max-width:768px) {
      gap: 32px;
    }
}

.news-item{
    display: flex;

    @media screen and (max-width:768px) {
      flex-direction: column;
    }
}

.news-date{
    width: 22%;
    background-color: #12848a;
    color: #fff;
    text-align: center;
    padding: 24px 10px;

    @media screen and (max-width:768px) {
      width: 100%;
      padding: 12px 16px;
    }
}

.news-description{
    flex: 1;
    background-color: #fff;
    padding: 24px 50px 24px 24px;

    @media screen and (max-width:768px) {
      width: 100%;
      padding: 12px 16px;
    }
}

.news-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @media screen and (max-width:768px) {
      
    }
}

.news-btn{
    display: block;
    background-color: #e98916;
    color: #fff;
    font-size: 20px;
    padding:16px 64px;
    text-align: center;  
}


/*-- contact --*/
.contact-container{
    max-width: 640px;
    padding: 80px 0;
    margin: 0 auto;

    @media screen and (max-width:768px) {
      padding: 64px 0;
    }
}

.contact-top{
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
} 

.contact-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 4px;
}

.contact-subtitle{
    font-size: 18px;
    margin-bottom: 64px;
}

.contact-item{
    display: flex;
    flex-direction: column;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 32px;
    font-size: 16px;
    border: 1px solid #c4c4c4;
}

.contact-btn{
    display: inline-block;
    background-color: #e98916;
    color: #fff;
    font-size: 20px;
    padding:16px 64px;
    margin: 0 auto;

    @media screen and (max-width:768px) {
      margin-top: 40px;
    }
}

.u-btn{
    margin-top: 64px;
}

/*-- footer --*/
.footer{
    background-color: #188888;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
}